.cds--modal-container {
    overflow:   scroll;
    overflow-x: hidden;
    color:      var(--cds-text-on-color);
    background: var(--cds-background);
}

.c4p--about-modal__legal-text {
    color: var(--cds-text-on-color);
}

.c4p--about-modal__copyright-text {
    color: var(--cds-text-on-color);
}

.c4p--about-modal__legal-text {
    color: var(--cds-text-on-color);
}

.c4p--about-modal__logo {
    display: none;
}