.idea
.vscode
.eclipse

.DS_Store
ED25519-Git-Key
Instance
*.pem
id_
*.pub

.state

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# TF Dependencies #

.terraform
.terraform/*
.terraform/**

.terraform
*/.terraform/*
**/.terraform/**

# TF State #

.tfstate
*.tfstate
**/*.tfstate

.tfstate
*.tfstate/*
**/*.tfstate/**

*.zip

.input

.gitlab-token

.tfvars.json
*.target-state.binary

node_modules

# 100% Standard Library
package-lock.json

*.state.*

!./terraform.tfstate.d
!./terraform.tfstate.d/*
!./terraform.tfstate.d/**
!./terraform.tfstate.d/**/*
