/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

button,
select,
input,
textarea {
  border-radius: 0;
  font-family: inherit;
}

input[type=text]::-ms-clear {
  display: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

button {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

strong {
  font-weight: 600;
}

@media screen and (-ms-high-contrast: active) {
  svg {
    fill: ButtonText;
  }
}
h1 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.199;
  letter-spacing: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.28572;
  letter-spacing: 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
  letter-spacing: 0;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.28572;
  letter-spacing: 0.16px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

a {
  color: #0f62fe;
}

em {
  font-style: italic;
}

/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
@keyframes skeleton {
  0% {
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
  }
  20% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
  28% {
    transform: scaleX(1);
    transform-origin: right;
  }
  51% {
    transform: scaleX(0);
    transform-origin: right;
  }
  58% {
    transform: scaleX(0);
    transform-origin: right;
  }
  82% {
    transform: scaleX(1);
    transform-origin: right;
  }
  83% {
    transform: scaleX(1);
    transform-origin: left;
  }
  96% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
  }
}
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
/* stylelint-disable-line no-invalid-position-at-import-rule */
.bx--search {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.bx--search .bx--label {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  visibility: inherit;
  white-space: nowrap;
}

.bx--search-input {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.28572;
  letter-spacing: 0.16px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  order: 1;
  padding: 0 2.5rem;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  appearance: none;
  background-color: #f4f4f4;
  color: #161616;
  text-overflow: ellipsis;
  transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--search-input *,
.bx--search-input *::before,
.bx--search-input *::after {
  box-sizing: inherit;
}
.bx--search-input:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
}
@media screen and (prefers-contrast) {
  .bx--search-input:focus {
    outline-style: dotted;
  }
}
.bx--search-input::placeholder {
  color: #6f6f6f;
  opacity: 1;
}
.bx--search-input::-ms-clear {
  display: none;
}

.bx--search-input[disabled] {
  border-bottom: 1px solid transparent;
  background-color: #f4f4f4;
  color: #c6c6c6;
  cursor: not-allowed;
}
.bx--search-input[disabled]::placeholder {
  color: #c6c6c6;
}

.bx--search--light .bx--search-input {
  background: #ffffff;
}

.bx--search--light .bx--search-close::before {
  background: #ffffff;
}

.bx--search--sm .bx--search-input,
.bx--search--sm.bx--search--expandable.bx--search--expanded .bx--search-input {
  height: 2rem;
  padding: 0 2rem;
}

.bx--search--sm .bx--search-magnifier-icon {
  left: 0.5rem;
}

.bx--search--lg .bx--search-input,
.bx--search--lg.bx--search--expandable.bx--search--expanded .bx--search-input {
  height: 2.5rem;
  padding: 0 2.5rem;
}

.bx--search--lg .bx--search-magnifier-icon {
  left: 0.75rem;
}

.bx--search--xl .bx--search-input,
.bx--search--xl.bx--search--expandable.bx--search--expanded .bx--search-input {
  height: 3rem;
  padding: 0 3rem;
}

.bx--search-magnifier-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  fill: #525252;
  pointer-events: none;
  transform: translateY(-50%);
}

.bx--search-close {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: inline-block;
  padding: 0;
  border: 0;
  appearance: none;
  background: none;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: -2px;
  position: absolute;
  top: 0;
  right: 0;
}
.bx--search-close *,
.bx--search-close *::before,
.bx--search-close *::after {
  box-sizing: inherit;
}
.bx--search-close::-moz-focus-inner {
  border: 0;
}
.bx--search-close::before {
  position: absolute;
  top: 0.0625rem;
  left: 0;
  display: block;
  width: 2px;
  height: calc(100% - 2px);
  background-color: #f4f4f4;
  content: "";
  transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--search-close:hover {
  border-bottom: 1px solid #8d8d8d;
}
.bx--search-close:hover::before {
  background-color: #e5e5e5;
}

.bx--search-button {
  flex-shrink: 0;
  margin-left: 0.125rem;
  background-color: #f4f4f4;
}
.bx--search-button svg {
  fill: currentColor;
  vertical-align: middle;
}

.bx--search-close svg {
  fill: inherit;
}

.bx--search-close,
.bx--search-button {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  fill: #161616;
  opacity: 1;
  transition: opacity 110ms cubic-bezier(0.2, 0, 0.38, 0.9), background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), outline 110ms cubic-bezier(0.2, 0, 0.38, 0.9), border 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
  visibility: inherit;
}
.bx--search-close:hover,
.bx--search-button:hover {
  background-color: #e5e5e5;
}
.bx--search-close:focus,
.bx--search-button:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
}
@media screen and (prefers-contrast) {
  .bx--search-close:focus,
.bx--search-button:focus {
    outline-style: dotted;
  }
}
.bx--search-close:active,
.bx--search-button:active {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  background-color: #e0e0e0;
}
@media screen and (prefers-contrast) {
  .bx--search-close:active,
.bx--search-button:active {
    outline-style: dotted;
  }
}

.bx--search--disabled .bx--search-close,
.bx--search--disabled.bx--search--expandable .bx--search-magnifier {
  cursor: not-allowed;
  outline: none;
}
.bx--search--disabled .bx--search-close:hover,
.bx--search--disabled.bx--search--expandable .bx--search-magnifier:hover {
  border-bottom-color: transparent;
  background-color: transparent;
}
.bx--search--disabled .bx--search-close:hover::before,
.bx--search--disabled.bx--search--expandable .bx--search-magnifier:hover::before {
  background-color: transparent;
}

.bx--search--disabled svg {
  fill: #c6c6c6;
}

.bx--search-close:focus::before,
.bx--search-close:active::before {
  background-color: #0f62fe;
}

.bx--search-input:focus ~ .bx--search-close:hover {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
}
@media screen and (prefers-contrast) {
  .bx--search-input:focus ~ .bx--search-close:hover {
    outline-style: dotted;
  }
}

.bx--search--sm .bx--search-close,
.bx--search--sm ~ .bx--search-button, .bx--search--sm.bx--search--expandable, .bx--search--sm.bx--search--expandable .bx--search-magnifier {
  width: 2rem;
  height: 2rem;
}
.bx--search--sm.bx--search--expandable .bx--search-input::placeholder {
  padding: 0 2rem;
}

.bx--search--lg .bx--search-close,
.bx--search--lg ~ .bx--search-button, .bx--search--lg.bx--search--expandable, .bx--search--lg.bx--search--expandable .bx--search-magnifier {
  width: 2.5rem;
  height: 2.5rem;
}
.bx--search--lg.bx--search--expandable .bx--search-input::placeholder {
  padding: 0 2.5rem;
}

.bx--search--xl .bx--search-close,
.bx--search--xl ~ .bx--search-button, .bx--search--xl.bx--search--expandable, .bx--search--xl.bx--search--expandable .bx--search-magnifier {
  width: 3rem;
  height: 3rem;
}
.bx--search--xl.bx--search--expandable .bx--search-input::placeholder {
  padding: 0 3rem;
}

.bx--search-close--hidden {
  opacity: 0;
  visibility: hidden;
}

.bx--search--xl.bx--skeleton .bx--search-input,
.bx--search--lg.bx--skeleton .bx--search-input,
.bx--search--sm.bx--skeleton .bx--search-input {
  position: relative;
  padding: 0;
  border: none;
  background: #e5e5e5;
  box-shadow: none;
  pointer-events: none;
  width: 100%;
}
.bx--search--xl.bx--skeleton .bx--search-input:hover, .bx--search--xl.bx--skeleton .bx--search-input:focus, .bx--search--xl.bx--skeleton .bx--search-input:active,
.bx--search--lg.bx--skeleton .bx--search-input:hover,
.bx--search--lg.bx--skeleton .bx--search-input:focus,
.bx--search--lg.bx--skeleton .bx--search-input:active,
.bx--search--sm.bx--skeleton .bx--search-input:hover,
.bx--search--sm.bx--skeleton .bx--search-input:focus,
.bx--search--sm.bx--skeleton .bx--search-input:active {
  border: none;
  cursor: default;
  outline: none;
}
.bx--search--xl.bx--skeleton .bx--search-input::before,
.bx--search--lg.bx--skeleton .bx--search-input::before,
.bx--search--sm.bx--skeleton .bx--search-input::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 3000ms ease-in-out skeleton infinite;
  background: #c6c6c6;
  content: "";
  will-change: transform-origin, transform, opacity;
}
@media (prefers-reduced-motion: reduce) {
  .bx--search--xl.bx--skeleton .bx--search-input::before,
.bx--search--lg.bx--skeleton .bx--search-input::before,
.bx--search--sm.bx--skeleton .bx--search-input::before {
    animation: none;
  }
}
.bx--search--xl.bx--skeleton .bx--search-input::placeholder,
.bx--search--lg.bx--skeleton .bx--search-input::placeholder,
.bx--search--sm.bx--skeleton .bx--search-input::placeholder {
  color: transparent;
}

.bx--search--expandable {
  transition: width 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.bx--search--expandable.bx--search--expanded {
  width: 100%;
}

.bx--search--expandable .bx--search-input {
  width: 0;
  padding: 0;
  transition: padding 70ms cubic-bezier(0.2, 0, 0.38, 0.9), width 0s linear 70ms;
}
.bx--search--expandable .bx--search-input::placeholder {
  position: relative;
  opacity: 0;
  transition-duration: 70ms;
  transition-property: padding, opacity;
  transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
}

.bx--search--expandable.bx--search--expanded .bx--search-input {
  width: 100%;
  transition: padding 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--search--expandable.bx--search--expanded .bx--search-input::placeholder {
  position: relative;
  padding: 0;
  opacity: 1;
}

.bx--search--expandable .bx--search-magnifier {
  position: absolute;
  cursor: pointer;
}

.bx--search--expandable .bx--search-magnifier:hover {
  background-color: #e5e5e5;
}

.bx--search--expandable.bx--search--expanded .bx--search-magnifier {
  pointer-events: none;
}

.bx--search--expandable .bx--search-magnifier-icon {
  fill: #161616;
}

.bx--search--expandable.bx--search--expanded .bx--search-magnifier-icon {
  fill: #525252;
}

@media screen and (-ms-high-contrast: active), (forced-colors: active), (prefers-contrast) {
  .bx--search-close svg,
.bx--search-magnifier-icon {
    fill: ButtonText;
  }
}

/*# sourceMappingURL=index.css.map */
