@use "sass:map";

/* =============================================================================
 --> Package Style Sheet (SCSS)
================================================================================ */

@use "./Normalize.css";

/* ---------------------
 --> Global Variable(s)
------------------------ */

$Prefix: "io" !default;

@use "@carbon/styles/scss/config" with ($prefix: "cds");

@use "@carbon/styles/scss/themes";
@use "@carbon/styles/scss/theme" with (
    $fallback: themes.$g100,
    $theme: (
        custom-token-01: #000000,
        popover-offset: 0.0rem
    )
);

@use "@carbon/styles";

:root {
    @include theme.theme(theme.$theme);

    :focus:not(:focus-visible) {
        outline: 0 none;
    }
}

html {
    background:       #161616 !important;
    background-color: #161616 !important;
}