@use "../../styles" as *;

.component {
    position: fixed;
    z-index: 8000;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #161616;

    user-select: none;

    height: var(--global-navigation-menu-height);
    border-bottom: 1px solid var(--global-cool-gray-80);
    padding-left: var(--global-page-padding);
}