version = 0.1

[default.global.parameters]
stack_name = "Secrets-Rotation-Service-Lambda-Get-Secret"

[default.deploy.parameters]
stack_name = "Secrets-Rotation-Service-Lambda-Get-Secret"
s3_bucket = "secrets-rotation-service-cfn-stack-s3-bucket"
s3_prefix = "Get-Secret"
region = "us-east-2"
confirm_changeset = false
capabilities = [
    "CAPABILITY_IAM",
    "CAPABILITY_AUTO_EXPAND"
]

# --> tags = ""

[default.build.parameters]
container_env_var_file = "env.json"
no_beta_features = false