.home .home-heading {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.19;
  letter-spacing: 0;
}
.home .home-subheading {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 600;
}
.home .home-primary-image {
  max-width: 100%;
}
.home .home-call-to-action {
  min-height: 100vh;
}
.home .home-page-banner {
  padding-top: 1rem;
  padding-bottom: 8rem;
  padding-left: 1.5rem;
  position: relative;
}
.home .home-paragraph {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 321px) and (max-width: 42rem) {
  .home .home-paragraph {
    max-width: 75%;
  }
}
.home .home-row-2 {
  margin-top: var(--cds-spacing-01);
  transform: translateZ(0);
  justify-content: flex-end;
}
.home .home-row-2 .navigators {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
}
.home .home-row-2 .navigation {
  background-color: transparent;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  transition-property: all;
}
.home .home-row-2 .navigation button {
  background-color: transparent;
  box-shadow: none;
  margin-left: 1rem;
}
.home .home-row-2 .navigation:first-child button {
  background-color: transparent;
  box-shadow: none;
  margin-left: 0rem;
}
.home .home-row-3 {
  background: black;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 3rem 1.5rem;
  position: relative;
}
.home .home-info-section-heading {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
}
.home .home-info-card {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.home .home-info-card svg {
  margin-top: 3rem;
}
@media (max-width: 41.98rem) {
  .home .home-info-card:not(:nth-child(2)) {
    padding-top: 3rem;
    border-top: 1px solid var(--cds-border-inverse);
  }
}
@media (min-width: 42rem) {
  .home .home-info-card {
    border-left: 1px solid var(--cds-border-inverse);
  }
}
@media (min-width: 66rem) {
  .home .home-info-card {
    margin-top: 0;
    border-left: 1px solid var(--cds-border-inverse);
  }
  .home .home-info-card svg {
    margin-top: 6rem;
  }
}
.home .home-info-card-heading {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
}
.home .home-info-card-body {
  margin-top: 1.5rem;
  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857;
  letter-spacing: 0.16px;
}
@media (min-width: 321px) and (max-width: 42rem) {
  .home .home-info-card-body {
    max-width: 75%;
  }
}
@media (max-width: 60rem) {
  .home .home-primary-image {
    display: none;
  }
}

.component {
  /*** Supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

/*# sourceMappingURL=Index.module.css.map */
